/* Overall Page */

* {
  box-sizing: content-box;
}

html body {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

/* Nav Bar */

.nav-bar {
  height: 70px;
  width: 100%;
  position: absolute;
  top: 20px;
}

.nav-bar-items {
  text-align: center;
  padding: 0px 0px;
  margin: 0 auto;
}

.item {
  width: 160px;
  display: inline-block;
  position: inherit;
}

.item a {
  color: bisque;
  font-size: 20px;
  font-weight: 800;
  text-decoration: none !important;
  position: absolute;
}

.item a :hover {
  background: #272526;
  color: bisque;
  border-radius: 30px;
  display: inline-block;
  padding: 5px 15px;
  transition: .3s all ease;
}

/* Top of Page Banner*/

.banner-area {
  background-image: url('C:/Users/Adrian R-Martinez/OneDrive/Desktop/Projects/Adrian-Portfolio/resources/images/4kgren.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  width: 100%;
  min-height: 960px;
  padding-top: 0%;
}

.container {
  width: fit-content;
  max-width: 1200px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.name-caption {
  text-align: center;
  font-weight: bold;
}

.name-caption-text {
  font-size: 75px;
  color: bisque;
}

/* Main Content */
main {
  background-color: #111111;
  height: 700px;
  margin: 0 auto;
}
